[Desktop Entry]
Type=Application
Name=Alexandria
Comment=Your personal library
Exec=alexandria
Icon=io.github.artur_rios.Alexandria
Terminal=false
Categories=AudioVideo;Player;Office;Viewer;
